doctype html
html
  head
    meta(charset="utf-8")
    title browser sync script
    link(rel="stylesheet", href="css/theme.css")
  body
    div.text
      |大夫席野被苍穹，南阳小地诸葛家。
      br
      |失意何必霜寒夜，清影疏星伴月华？
      br
      |有志宁为独行客，万里山河任纵马。
      br
      span#content
    script(src="js/script.js")
