doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    block pageTitle
      title 文件首页
    include _stylesheets
  body(class=bodyCss || null)
    block pageContent
    block pageScript
